obj
bin
deploy
*.csproj.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
*.dbmdl
*.pidb
*.docstates
test-results
apply_config.bat
NDependOut
*.dotCover
packages/
*.user
*.userprefs
.DS_Store
*.xam
*.ldf
TestResults/
build/
.vs/